<app-header-logo></app-header-logo>
<app-navbar></app-navbar>
<h1> Trade History</h1>
<div class="main-container">
    <div class="filters-container">
        <div class="asset-class-filter">
            <mat-form-field appearance="fill">
                <mat-select class="asset-class-dropdown" placeholder="Asset class" [formControl]="assetClassForm" [(value)]="selectedAssetClasses" multiple>
                  <mat-option *ngFor="let assetClass of assetClassList" [value]="assetClass">{{assetClass}}</mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <p>
                {{selectedAssetClasses | json}}
              </p> -->
        </div>

        <div class="side-filter">
            <mat-form-field appearance="fill">
                <mat-label>Side</mat-label>
                <mat-select [formControl]="sideFilter" [(value)]="selectedSide">
                    <mat-option>None</mat-option>
                    <mat-option value="Buy">Buy</mat-option>
                    <mat-option value="Sell">Sell</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="date-filter">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                <mat-error *ngIf="dateRange.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="dateRange.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>
              
              <!-- <p>Selected range: {{dateRange.value | json}}</p> -->
        </div>

        <div class="amount-options">
            <table>
                <tr>
                    <td><label for="from">Start amount:</label></td>
                    <td><input name="stAmount" type="text" [(ngModel)]="stAmount"></td>
                </tr>
                <tr>
                    <td><label for="and">End amount:</label></td>
                    <td> <input name="endAmount" type="text" [(ngModel)]="endAmount"></td>
                </tr>
            </table>
            <div class="error" *ngIf="error == 'empty-amount'">*Invalid - amount(s) are empty.</div>
            <div class="error" *ngIf="error == 'invalid-amount'">*Invalid - start amount should be greater than end amount.</div>
            <div class="error" *ngIf="error == 'invalid-amount-chars'">*Invalid - should contain valid a number.</div>
        </div>
        <div>
        </div>
    </div>
    <button type="submit" (click)="filterSubmit()">Submit</button>
    
    
    <div class="example-container mat-elevation-z8" >
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef > Code </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="asset_class">
                <mat-header-cell *matHeaderCellDef> Asset Class </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.asset_class}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef > Quantity </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.quantity}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="trade_type">
                <mat-header-cell *matHeaderCellDef> Side </mat-header-cell>
                <mat-cell *matCellDef="let row" 
                [ngClass]="{'buy': row.trade_type == 'Buy', 'sell': row.trade_type == 'Sell'}"> {{row.trade_type}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
            </ng-container>
        
            <!-- <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.time}} </mat-cell>
            </ng-container> -->
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>


<hr />
<app-footer-bar></app-footer-bar>