h1{
    font-family: "Fidelity Sans", Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    margin: 10px;
}

label{
    font-family: "Fidelity Sans", Arial, sans-serif;
    margin-left: 15px;
    margin-right: 4px;
    font-size: 14px;
    font-weight: bold;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

table td{ 
   padding: 3px 4px;
   border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: hsla(0, 0%, 95%, 0.856);
}

.buy{
    color: green;
}

.sell{
    color: red;
}

.options{
    display: flex;
    justify-content: center;
}

.options ul{
    display: flex;
    list-style: none;
}

.error{
    font-family: "Fidelity Sans", Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: red;
}

.example-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mat-header-cell{
    color: white;
    background: black;
    font-size: 16px;
    justify-content: center;
}

.mat-cell{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.mat-column-asset_class{
    flex: 0 0 15%;
}
.mat-column-quantity{
    flex: 0 0 10%;
    text-align: center;
}

.mat-column-timestamp{
    flex: 0 0 17%;
}

.mat-row:nth-child(even){background-color: #f2f2f2;}

.main-container{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.filters-container{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


.filters-container div{
    margin-left: 25px;
    margin-right: 25px;
}

.filter-buttons-container button{
    margin: 3px 15px;
    font-size: 16px;
}
