table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    margin-top: 1em;
  }
  
  td, th {
    border: 0.1px solid #dddddd83;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: hsla(0, 0%, 95%, 0.856);
  }
  
  .bond-table{
      width:99.5%;
      margin-left: 0.25%;
      margin-top: 10px;
  }
  
  .overview{
      display: flex;
      width: 90%;
      margin-left: 11%;
      margin-bottom: 25px;
      margin-top: 30px;
  }
  
  .child{
      flex:1;
  }
  
  h2,h4,h3{
      margin: 0;
  }
  
  .red{
    color:rgba(160, 7, 7, 0.877);
  }
  
  .green{
    color: #568200;
  }
  
  .bolder{
    font-weight: bolder;
  }
  .overview{
    display: flex;
    width: 60%;
    margin: 0 auto;
  }
  .child{
    flex: 1;
    margin: 0 5% 0 0;
    padding: 1.5em;
    box-shadow: 4px 4px #b9b4b4;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
  }

  button {
    width: 100%;
    border: none;
    display: block;
    box-sizing: border-box;
    padding: 0rem 1rem 0rem 1rem;
    font-family: "Fidelity Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    justify-content: center;
    background-color: rgb(255, 10, 0);
    color: white;
    cursor: pointer;
  }