<div class="container">

  <div class="loginform">
    <label for="username">Username</label>
    <input type="text" id="username" [(ngModel)]="username">
  </div>
  <div id="usernameError">
    Invalid Username - Must contain between 3 and 18 letters, numbers, underscore or hyphens.
  </div>

  <div class="loginform">
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="password">
  </div>
  <div id="passwordError">
    Invalid Password - Must contain between 6 and 24 letters, numbers, underscore or hyphens.
  </div>

  <div class="loginform">
    <button type="button" id="loginbutton" (click)="login()">Log In</button>
  </div>

</div>
