.container {
  max-width: 18rem;
  border: solid 1px #ccc;
  padding: 2rem 3rem 2rem 3rem;
  margin: 0rem auto 3rem auto;
}
.forgotPassword {
  text-align: center;
}
.signup {
  text-align: center;
  padding-top: 1rem;
}
.loginform {
  margin-bottom: 1.5rem;
}
.loginform:last-child {
  margin-bottom: 0rem;
}
.forgotpassword {
  text-align: center;
}
input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-size: 18px;
  line-height: 1.5em;
}
label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Fidelity Sans", Arial, sans-serif;
  font-weight: bold;
}
button {
  width: 100%;
  border: none;
  display: block;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: "Fidelity Sans", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.5em;
  justify-content: center;
  background-color: #568200;
  color: white;
  cursor: pointer;
}
p {
  margin: 1rem;
  padding-bottom: 1rem;
  box-sizing: content-box;
  font-family: "Fidelity Sans", Arial, sans-serif;
  font-size: 18px;
  color: #000;
  text-align: center;
  font-weight: normal;
}
header {
  padding-top: 1rem;
  margin: 0;
  box-sizing: content-box;
  font-family: "Fidelity Sans", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.5em;
  color: #000;
  text-align: center;
}

a {
  justify-content: center;
  font-family: "Fidelity Sans", Arial, sans-serif;
  color: #024a7a;
}
a:visited {
  color: purple;
}
a:focus {
  color: #ccc;
  outline: dotted 1px;
}

#passwordError {
  font-family: "Fidelity Sans", Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: red;
  display: none;
}

#usernameError {
  font-family: "Fidelity Sans", Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: red;
  display: none;
}
