.example-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.mat-header-cell{
    color: white;
    background: black;
    font-size: 16px;
    justify-content: center;
}

.mat-cell{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.mat-row:nth-child(even){background-color: #f2f2f2;}


.mat-column-name{
    flex: 0 0 20%;
}

.mat-column-code{
    flex: 0 0 10%;
}

.mat-column-asset_class{
    flex: 0 0 30%;
}

.mat-column-ltp{
    flex: 0 0 10%;
}

.main-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.asset-class-filter{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.asset-class-options{
    text-align: center;
    height: 70px;
    width: 55%;
}

.mat-form-field{
    width: 100%;
}

.asset-class-filter button{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 30px;
    width: 75px;
    margin-left: 30px;
    margin-bottom: 5px;
    text-align: center;
}
