
<div class="container">

    <header>Sell <b>{{data.code}} </b> x<b> {{dataClone.quantity}} </b> Qty</header>

    <p>LTP : {{dataClone.ltp | currency }}</p>
  <div class="sellform">
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="dataClone.name" readonly>
  </div>

  <div class="sellform">
    <label for="quantity">Quantity</label>
    <input type="number" [max]="maxQuantity" [min]="1" id="quantity"  [(ngModel)]="dataClone.quantity" >
  </div>

  <div id="usernameError" *ngIf="quantityError">
    Maximum quantity you can sell is {{maxQuantity}}
  </div>


  <div class="sellform">
        <p>Total Price : {{dataClone.quantity * dataClone.ltp | currency}}</p>  
  </div>



  <div class="sellform">
    <button type="submit" id="sellbutton" (click)="sell()"  >Sell</button>
  </div>

  <div class="sellform">
    <button type="button" id="cancelbutton" (click)="close()" >Cancel</button>
  </div>

</div>
