.logo{
  box-sizing: content-box;
  font-family:'Fidelity sans', Arial, sans-serif;
  font-size: 32px;
  line-height: 1.5em;
  color: #FFF;
  background-color: #568200;
}
.header-bar {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #568200;
}
